.content-area {
  max-width: 100%;
  margin: 0 auto 0 auto;
  width: $size__site-main;
}

.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: $size__site-sidebar - $size__margin-left;
}

.site-footer {
  clear: both;
  width: $size__site-main;
}

.site-content {
  display: flex;
  justify-content: center;
}