.site-footer {
  background: #1d1d1d;

  li:hover > a {
    color: #fff;
  }

  a {
    display: block;
    padding: 23px 10px;
    font-size: 14px;
    text-decoration: none;
  }

  .menu > li {
    display: inline-block;
  }
}