.site-footer {
  background: #1d1d1d;
  text-align: center;

  ul {
    list-style: none;
  }

  li:hover > a {
    color: #fff;
  }

  a {
    display: block;
    padding: 23px 0;
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
    position: relative;
    z-index: 10000;
    text-decoration: none;
  }

  .menu > li {
    display: inline-block;
  }
}