.site-header {
  position: relative;

  &:hover {
    box-shadow: $box-shadow__site-header;
  }

  a {
    &.overlay {
      position: absolute;
      top: 0;
    }
    width: 100%;
    height: 100%;
    color: $color__nav-secondary;
    text-decoration: none;
  }

  .custom-header {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: $height__header;
    overflow: hidden;

    div, img {
      min-height: $height__header;
      width: 100%;
      max-width: unset;
    }
  }

  .site-branding-wrapper {
    display: grid;

    height: $height__header;
    text-align: center;
    text-shadow: 2px 2px black;

    .site-branding {
      margin: auto;
      z-index: 1;

      background: $color__background-header;
      display: inline-block;
      //padding: 1.7em;
    }

    .custom-logo {
      height: 50%;
      img {
        height: 100%;
        width: auto;
      }
    }

    h1, p {
      margin: 0;
    }
    h1 {
      font-size: 4em;
    }
    p {
      font-size: 2em;
    }
  }

  .menu-scroll-down {
    height: auto;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 1em;

    .icon {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);

      width: 3em;
      height: 3em;
    }
  }
}
