.site-header {
  .custom-header {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: $height__header;
    overflow: hidden;

    div, img {
      min-height: $height__header;
      min-width: 100%;
      max-width: unset;
      width: auto;
    }
  }

  .site-branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $height__header;
    padding-top: 10vh;

    .custom-logo-link {
      height: 50%;
      img {
        height: 100%;
        width: auto;
      }
    }
    text-shadow: 2px 2px 2px black;
    a {
      color: white;
      text-decoration: none;
    }
    h1, p {
      margin: 0;
      color: white;
    }
  }
}
