$fa-font-path: "assets/fonts";

@font-face {
  font-family: 'Besom';
  src: url('#{$fa-font-path}/Besom-Handwritten-Brush-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
