/* cyrillic-ext */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 400;
	src: local('Tahoma'), url(https://fonts.gstatic.com/l/font?kit=EidOQW82QWb1Qs4tAAhmC_esZW2xOQ-xsNqO47m55DA&skey=9d22fae1754942f6&v=v8) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 400;
	src: local('Tahoma'), url(https://fonts.gstatic.com/l/font?kit=jNku2AAYcpd9xydwEGbwnfesZW2xOQ-xsNqO47m55DA&skey=9d22fae1754942f6&v=v8) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 400;
	src: local('Tahoma'), url(https://fonts.gstatic.com/l/font?kit=xcaDjEuLNgH1jcElPZ46v_esZW2xOQ-xsNqO47m55DA&skey=9d22fae1754942f6&v=v8) format('woff2');
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 400;
	src: local('Tahoma'), url(https://fonts.gstatic.com/l/font?kit=xCwUbSSTo2nEtjybxd09YPesZW2xOQ-xsNqO47m55DA&skey=9d22fae1754942f6&v=v8) format('woff2');
	unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 400;
	src: local('Tahoma'), url(https://fonts.gstatic.com/l/font?kit=Z_5wfCbanwmVVGrTKZIt9fesZW2xOQ-xsNqO47m55DA&skey=9d22fae1754942f6&v=v8) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 400;
	src: local('Tahoma'), url(https://fonts.gstatic.com/l/font?kit=FjtPnQNs4_A_6qbTEDtLIg&skey=9d22fae1754942f6&v=v8) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 700;
	src: local('Tahoma Negreta'), local('Tahoma-Bold'), url(https://fonts.gstatic.com/l/font?kit=H8nebT5-Cz0tg0N7UEroURJtnKITppOI_IvcXXDNrsc&skey=325a0ea84e3a99&v=v8) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 700;
	src: local('Tahoma Negreta'), local('Tahoma-Bold'), url(https://fonts.gstatic.com/l/font?kit=TWCvOMyHogy1VEWzcaw7IxJtnKITppOI_IvcXXDNrsc&skey=325a0ea84e3a99&v=v8) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 700;
	src: local('Tahoma Negreta'), local('Tahoma-Bold'), url(https://fonts.gstatic.com/l/font?kit=Prx2OTRkYtP9EyiX4K3sjBJtnKITppOI_IvcXXDNrsc&skey=325a0ea84e3a99&v=v8) format('woff2');
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 700;
	src: local('Tahoma Negreta'), local('Tahoma-Bold'), url(https://fonts.gstatic.com/l/font?kit=6UZQF2rQOA9jslTXSpi5nRJtnKITppOI_IvcXXDNrsc&skey=325a0ea84e3a99&v=v8) format('woff2');
	unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 700;
	src: local('Tahoma Negreta'), local('Tahoma-Bold'), url(https://fonts.gstatic.com/l/font?kit=0MfEFLUakMjeBj77Cy0jChJtnKITppOI_IvcXXDNrsc&skey=325a0ea84e3a99&v=v8) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Tahoma';
	font-style: normal;
	font-weight: 700;
	src: local('Tahoma Negreta'), local('Tahoma-Bold'), url(https://fonts.gstatic.com/l/font?kit=UZitz9TRmpLL1nUOXSmd71tXRa8TVwTICgirnJhmVJw&skey=325a0ea84e3a99&v=v8) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
