.widget-area {
  color: $color__text-widget;
  display: inline-table;
  border: 0 solid $color__widget-area-border;
  border-left-width: 1px;
  margin: 30px;
  padding-left: 30px;

  .widget {
    margin: 0 0 1.5em;

    /* Make sure select elements fit in widgets. */
    select {
      max-width: 100%;
    }

    a {
      color: $color__text-widget;
      text-decoration: none;
    }
    a:hover {
      color: $color__nav-secondary;
    }

    ul {
      margin-left: 0;
      list-style: none;
    }
    .widget-title {
      margin-bottom: 0;
    }
  }


  &:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 309px;
    display: block;
  }
}
