.archive {
  .entry-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      flex-basis: 300px;
    }
  }

  .thumbnail {
    flex-grow: 0;
  }

  .excerpt {
    flex-grow: 1;

    p {
      margin: 0 10px;
    }
  }
}
