.content-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .thumbnail {
    min-height: 300px;
    img {
      min-width: 100%;
    }
  }
  .entry-header {
    position: absolute;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  article {
    margin: 0;
    flex: 1 0 300px;
  }
}
