.content-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .thumbnail {
    min-width: 300px;
    img {
      height: 300px;
      width: auto;
    }
  }
  .entry-header {
    position: absolute;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
