.content-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  article {
    position: relative;
    flex: 1 0 $size__thumbnail;

    a {
      font-size: 2em;
      color: white;
      text-decoration: none;
      text-shadow: 2px 2px 2px black;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      .entry-header {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    .thumbnail {
      min-height: $size__thumbnail;
      img {
        min-width: 100%;
      }
    }
  }
}
