.content-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  article {
    position: relative;
    flex: 1 0 $size__thumbnail;
    padding: 5px;
    margin: 0;
    color: $color__text-post-preview-title;

    h1, a {
      font-size: 13px;
      line-height: 15px;
    }

    a {
      text-decoration: none;

      &:hover {
        color: $color__nav-secondary;
      }
    }

    .entry-header {
      background: $color__background-post-preview-title;
      display: block;
      min-height: 81px;
      position: relative;
      padding: 22px 105px 15px 25px;
      z-index: 17;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border: 1px solid black;
    }

    .thumbnail {
      margin-bottom: -10px;
      border: 1px solid black;

      img {
        min-width: 100%;
      }
    }

    .postmetadata {
      font-size: 11px;

      &,
      a:not(:hover) {
        color: #78797a;
      }
    }
  }
}
