.content-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  article {
    position: relative;
    flex: 1 0 $size__thumbnail;

    .entry-header {
      position: absolute;
      height: 100%;
      width: 100%;

      a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
        color: white;
        text-decoration: none;
        text-shadow: 2px 2px 2px black;
      }
    }

    .thumbnail {
      min-height: $size__thumbnail;
      img {
        min-width: 100%;
      }
    }
  }
}
