.single-post {
  .content-area {
    width: $size__post-content-width + $size__post-content-image-shift*2;
    max-width: 100%;
    flex-grow: 99999;
    padding: 0 $size__post-content-image-shift;
  }

  .site-content{
    font-size: 20px;
  }

  .site-main {
    width: $size__post-content-width;
    max-width: 100%;
    margin: 0 auto 0 auto;

    .entry-content {
      .alignleft {
        margin-left: -$size__post-content-image-shift;
      }
      .alignright {
        margin-right: -$size__post-content-image-shift;
      }
    }
  }

  .single-post-comments{
    min-height: 100px;

    ul {
      display: none;
      margin: 0;
      padding: 0;
    }

    button {
      display: block;
      background: none;
      font-style: italic;
      font-size: inherit;
      margin: auto;

      padding-left: 0;
      padding-right: 0;

      border: 0 $color__link-hover solid;
      border-bottom-width: 3px;
      border-radius: 0;
    }

    &.toggled {
      ul {
        display: block;
      }
    }
  }
}