.single-post {
  .content-area{
    width: 32em;

  .entry-content {
    $shift: 50%;
    .alignleft {
      margin-left: -$shift;
      max-width: 100%+$shift !important;
    }
    .alignright {
      margin-right: -$shift;
      max-width: 100%+$shift !important;
    }
  }
  }
}