$size__site-main: 1050px; //550px
$size__site-sidebar: 400px;
$size__margin-left: 0;
$height__header: 50vh;
$height__header-home: 100vh;
$size__thumbnail: 400px;
$width__main-navigation: 20%;
$size__margin-site-content: 20px;


$size__post-content-width: 32em;
$size__post-content-image-shift: 10em;