#menu-social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    width: auto;
  }
  li a {
    padding: 10px;

    background: $color__nav-primary;
    border-radius: 100%;
    line-height: 0;
  }
}