
@mixin fa-icon() {
  display: inline-block;
  font: normal normal normal 1em FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
}

@mixin fa-icon-rotate($degrees, $rotation) {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})";
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin fa-icon-flip($horiz, $vert, $rotation) {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)";
  -webkit-transform: scale($horiz, $vert);
  -ms-transform: scale($horiz, $vert);
  transform: scale($horiz, $vert);
}



button.menu-toggle {
  cursor: pointer;
  text-align: left;
  float: right;
  position: relative;
  box-shadow: none;
  background-image: none;
  padding: ms(-2) ms(-1) ms(-2) ms(5);
  font-size: ms(-1);

  &:hover {
    background-image: none;
  }

  span::before {
    transition: all, ease, 0.2s;
  }

  &::before,
  &::after,
  span::before {
    content: '';
    display: block;
    height: 2px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 1em;
    margin-top: -1px;
    transition: all, ease, 0.2s;
    border-radius: 3px;
  }

  &::before {
    transform: translateY(-4px);
  }

  &::after {
    transform: translateY(4px);
  }
}

.toggled {
  button.menu-toggle {
    &::before,
    &::after {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    span::before {
      opacity: 0;
    }
  }
}

.primary-navigation {
  display: none;
}

.main-navigation {
  @include clearfix;

  div.menu {
    display: none; // Hide the default menu to stop both it and the handheld menu displaying, when no primary menu has been set...
  }

  div.menu:last-child {
    display: block; // ... but display it if a handheld menu hasn't been set either.
  }

  .menu {
    clear: both;
  }
}

.handheld-navigation,
.nav-menu,
.main-navigation div.menu > ul:not( .nav-menu ) {
  overflow: hidden;
  max-height: 0; /* We have to use max-height because `height` isn't animatable */
  transition: all, ease, 0.8s;
}

.handheld-navigation {
  clear: both;

  ul {
    margin: 0;

    &.menu {
      li {
        position: relative;

        button {
          &::after {
            @include fa-icon();
            content: '\f107';
            transition: all, ease, 0.9s;
          }

          &.toggled-on::after {
            transform: rotate(180deg);
          }
        }
      }

      .sub-menu {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: all, ease, 0.9s;

        &.toggled-on {
          visibility: visible;
          max-height: 1750px;
          opacity: 1;
        }
      }
    }
  }

  .dropdown-toggle {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
}

.main-navigation.toggled {
  .handheld-navigation,
  .menu > ul:not( .nav-menu ),
  ul[aria-expanded=true] {
    max-height: 1750px;
  }
}

.main-navigation ul {
  margin-left: 0;
  list-style: none;
  margin-bottom: 0;

  ul {
    display: block;
    margin-left: ms(2);
  }

  li {
    a {
      padding: ms(-1) 0;
      display: block;

      &:hover {
        color: #e6e6e6;
      }
    }
  }
}