.post-navigation {
  position: fixed;
  width: 100%;
  top: 50%;

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    .icon-angle-down{
      transform: rotate(90deg);
    }
  }

  .nav-next {
    float: right;
    text-align: right;
    .icon-angle-down{
      transform: rotate(270deg);
    }
  }

  .icon {
    font-size: 5em;
  }

  .posts-preview {
    display: none;
    background: $color__background-post-preview-title;
    padding: 22px;
  }

  .nav-previous:hover,
  .nav-next:hover {
    .posts-preview {
      display: block;
    }
  }
}