@mixin mq($display, $breakpoint) {
  @media #{$display} and #{$breakpoint}{
    @content
  }
}

$mq_small_only: "(max-width: 640px)";
$mq_medium_only: "(min-width: 641px) and (max-width: 1024px)";
$mq_small_and_medium: "(max-width: 1024px)";

@include mq("screen", $mq_small_and_medium) {
  /* Header */
  .site-branding-wrapper {
    font-size: 8px;
  }

  /* Layout */
  #primary,
  #main {
    margin-right: auto;
    margin-left: auto;
  }
  #secondary {
    width: 100%;
    margin-right: 0;
  }
}

@include mq("screen", $mq_small_only) {
  .site-content {
    margin-left: 0;
    margin-right: 0;
  }
  .single-post .site-content{
    font-size: 16px;
  }
  .single-post .content-area {

    .entry-content {
    .alignleft, .alignright {
      margin: 0;
    }
    }
  }
  .post-navigation {
    display: none;
  }
}

@include mq("screen", $mq_medium_only) {
  .single-post .site-content{
      font-size: 16px;
  }

  .single-post .content-area {
    font-size: 16px;

    .entry-content {
      $shift: 15%;
      .alignleft {
        margin-left: -$shift;
      }
      .alignright {
        margin-right: -$shift;
      }
    }
  }
}

@include mq("screen", $mq_small_and_medium) {
  .content-area {
    margin-top: 90px;
  }

  .main-navigation {
    position: absolute;
    top: 0;
    z-index: 100;

    clear: both;
    display: block;
    float: left;

    width: 100%;
    padding: 10px;

    text-align: left;
    .nav-menu li {
      width: 100%;
    }
    
    &.toggled {
      background-color: $color__nav-primary;
    }

    .widget-area {
      display: none;

      margin-top: 4em;
    }

    ul {
      display: none;
    }

    .social-navigation {
      width: 100%;
      text-align: center;
    }

  }

  /* Small menu. */
  .menu-toggle,
  .main-navigation.toggled {
    border: none;

    ul,
    .widget-area {
      display: block;
    }
  }

  .menu-toggle {
    display: inline-block;
    color: $color__icon-menu;
    font-size: 35px;
    padding: 0;

    background: none;

    .icon-close {
      display: none;
    }
  }

  .toggled .menu-toggle {
    color: $color__icon-menu-toggled;

    .icon-close {
      display: block;
    }
    .icon-bars {
      display: none;
    }
  }


}