.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.home .site-main{
  margin-left: 0;
}

.site-main {
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.7);
}